@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script:wght@700&family=DynaPuff:wght@700&family=Kumbh+Sans:wght@400;700&family=Rubik:ital,wght@1,300&display=swap");

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* Colors */
  /* ------ */
  /* Primary colors */
  --clr-moderate-blue: hsl(238, 40%, 52%);
  --clr-soft-red: hsl(358, 79%, 66%);
  --clr-light-grayish-blue: hsl(239, 57%, 85%);
  --clr-pale-red: hsl(357, 100%, 86%);

  /* Neutral colors */
  --clr-dark-blue: hsl(212, 24%, 26%);
  --clr-grayish-blue: hsl(211, 10%, 45%);
  --clr-light-gray: hsl(223, 19%, 93%);
  --clr-very-light-gray: hsl(228, 33%, 97%);
  --clr-white: hsl(0, 0%, 100%);

  /* Typography */
  --fs-p: 1rem;

  --ff-rubik: "Rubik", sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-rubik);
  font-size: var(--fs-400);
  line-height: 1;
  background-color: var(--clr-light-gray);
  font-style: unset;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* ------------------- */
/* components          */
/* ------------------- */

/* user */
.user {
  background-color: var(--clr-white);
  width: 94%;
  margin: 0 auto 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "text text text text text"
    "text text text text text"
    "img space space btn btn";
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 70rem;
}

.user--textarea {
  grid-area: text;
  resize: none;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-light-gray);
  padding: 1rem;
}

.user--textarea::placeholder {
  color: var(--clr-light-grayish-blue);
  font-weight: var(--fw-700);
}

.user--img {
  grid-area: img;
  width: 2rem;
  margin-top: 1rem;
}

.user--btn {
  grid-area: btn;
  width: 6rem;
  height: 3rem;
  border: 0;
  border-radius: 0.5rem;
  place-self: center end;
  margin-top: 1rem;
  background-color: var(--clr-moderate-blue);
  color: var(--clr-white);
  font-weight: var(--fw-700);
}

@media (min-width: 45em) {
  .user {
    background-color: var(--clr-white);
    width: 94%;
    margin: 0 auto 2rem;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }

  .user--textarea {
    grid-area: text;
    resize: none;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-light-gray);
    padding: 1rem;
    width: 88%;
    height: 6rem;
  }

  .user--textarea::placeholder {
    color: var(--clr-light-grayish-blue);
    font-weight: var(--fw-700);
  }

  .user--img {
    grid-area: img;
    width: 2rem;
    margin: 0 0 0 .5rem;
  }

  .user--btn {
    grid-area: btn;
    width: 6rem;
    height: 3rem;
    border: 0;
    border-radius: 0.5rem;
    place-self: start end;
    margin-top: 0rem;
    background-color: var(--clr-moderate-blue);
    color: var(--clr-white);
    font-weight: var(--fw-700);
  }
}

/* comments */

.comments {
  margin-top: 2rem;
}

.comment {
  background-color: var(--clr-white);
  width: 94%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "header header header header header"
    "body body body body body"
    "body body body body body"
    "score . . .  reply";
  font-size: var(--fs-p);
  line-height: 1.5;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 70rem;
  position: relative;
}

.comment-score {
  grid-area: score;
  height: 2.3rem;
  width: 5.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  background-color: var(--clr-light-gray);
  opacity: 0.8;
  border-radius: 0.5rem;
}

.comment-score--minus {
  background-image: url(./images/icon-minus.svg);
  aspect-ratio: 1;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.comment-score--score {
  color: var(--clr-moderate-blue);
  font-weight: var(--fw-700);
}

.comment-score--plus {
  background-image: url(./images/icon-plus.svg);
  aspect-ratio: 1;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.comment-header {
  grid-area: header;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 18rem;
  position: relative;
}

.comment-header img {
  width: 2rem;
}

.comment-header h2 {
  font-weight: var(--fw-700);
  font-size: var(--fs-p);
}

.comment-header p:not(.comment-header--you) {
  color: var(--clr-grayish-blue);
  
}

.comment-header--reply-btn {
  grid-area: reply;
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--clr-moderate-blue);
  font-weight: var(--fw-700);
  border: 0;
  background-color: var(--clr-white);
}

.comment-body {
  grid-area: body;
  color: var(--clr-grayish-blue);
  font-weight: var(--fw-700);
}

@media (min-width: 45em) {
  .comment {
    display: grid;
    grid-template-columns: 5rem repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "score header header header . . . . reply reply"
      "score body body body body body body body body ."
      ". body body body body body body body body .";

      padding-left: 0;
  }

  .comment-body {
    grid-area: body;
  }

  .comment-header {
    grid-area: header;
  }

  .comment-score {
    grid-area: score;
    display: flex;
    flex-direction: column;
    width: 2.3rem;
    height: 5.5rem;
    place-self:  center;
    margin-top: 0;
  }

  .comment-header--reply-btn {
    grid-area: reply;
    margin: 0 1rem 0 0;
    place-self: start end;
  }
}

/* reply */
.replies {
  width: 94%;
  margin: 0 auto;
  position: relative;
  max-width: 70rem;
}

.replies::after {
  content: '';
  border-left: 1px solid var(--clr-light-grayish-blue);
  position: absolute;
  left: 0%;
  top: 0;
  height: 100%;
  width: 1px;
}

.reply {
  background-color: var(--clr-white);
  width: 94%;
  margin: 1rem 0 1rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "header header header header header"
    "body body body body body"
    "body body body body body"
    "score . . .  reply";
  font-size: var(--fs-p);
  line-height: 1.5;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 70rem;
  
}

.reply-score {
  grid-area: score;
  height: 2.3rem;
  width: 5.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  background-color: var(--clr-light-gray);
  opacity: 0.8;
  border-radius: 0.5rem;
}

.reply-score--minus {
  background-image: url(./images/icon-minus.svg);
  aspect-ratio: 1;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.reply-score--score {
  color: var(--clr-moderate-blue);
  font-weight: var(--fw-700);
}

.reply-score--plus {
  background-image: url(./images/icon-plus.svg);
  aspect-ratio: 1;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.reply-header {
  grid-area: header;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 15rem;
}

.reply-header img {
  width: 2rem;
}

.reply-header h2 {
  font-weight: var(--fw-700);
  font-size: var(--fs-p);
}

.reply-header p {
  color: var(--clr-grayish-blue);
  
}

.reply-header--reply-btn {
  grid-area: reply;
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--clr-moderate-blue);
  font-weight: var(--fw-700);
  border: 0;
  background-color: var(--clr-white);
}

.reply-body {
  grid-area: body;
  color: var(--clr-grayish-blue);
  font-weight: var(--fw-700);
}

@media (min-width: 45em) {

  .replies::after {
    left: 3.8%;
  }

  .reply {
    display: grid;
    grid-template-columns: 5rem repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "score header header header . . . . reply reply"
      "score body body body body body body body body ."
      ". body body body body body body body body .";

      padding-left: 0;
      width: 92%;
  }

  .reply-body {
    grid-area: body;
  }

  .reply-header {
    grid-area: header;
  }

  .reply-score {
    grid-area: score;
    display: flex;
    flex-direction: column;
    width: 2.3rem;
    height: 5.5rem;
    place-self:  center;
    margin-top: 0;
  }

  .reply-header--reply-btn {
    grid-area: reply;
    margin: 0 1rem 0 0;
    place-self: start end;
  }
}

.btn {
  display: flex;
  gap: .5rem;
  align-items: center;
  background-color: var(--clr-white);
  border: 0;
}

.delete {
  color: var(--clr-soft-red);
  position: absolute;
  right: 6rem;
}

.edit {
  color: var(--clr-moderate-blue);
  margin: 0 1rem;
  position: absolute;
  right: 0rem;
}

.comment-header--you {
  color: var(--clr-white);
  background-color: var(--clr-moderate-blue);
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-700);
  border-radius: .2rem;
}