@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script:wght@700&family=DynaPuff:wght@700&family=Kumbh+Sans:wght@400;700&family=Rubik:ital,wght@1,300&display=swap");

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* Colors */
  /* ------ */
  /* Primary colors */
  --clr-moderate-blue: hsl(238, 40%, 52%);
  --clr-soft-red: hsl(358, 79%, 66%);
  --clr-light-grayish-blue: hsl(239, 57%, 85%);
  --clr-pale-red: hsl(357, 100%, 86%);

  /* Neutral colors */
  --clr-dark-blue: hsl(212, 24%, 26%);
  --clr-grayish-blue: hsl(211, 10%, 45%);
  --clr-light-gray: hsl(223, 19%, 93%);
  --clr-very-light-gray: hsl(228, 33%, 97%);
  --clr-white: hsl(0, 0%, 100%);

  /* Typography */
  --fs-p: 1rem;

  --ff-rubik: "Rubik", sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-rubik);
  font-size: var(--fs-400);
  line-height: 1;
  background-color: var(--clr-light-gray);
  font-style: unset;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* ------------------- */
/* components          */
/* ------------------- */

/* App */

.App {
  display: flex;
  flex-direction: column;
}

/* user */
.user {
  background-color: var(--clr-white);
  width: 94%;
  margin: 0 auto 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "text text text text text"
    "text text text text text"
    "img space space btn btn";
  padding: 1rem;
}

.user--textarea {
  grid-area: text;
  resize: none;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-light-gray);
  padding: 1rem;
}

.user--textarea::placeholder {
  color: var(--clr-light-grayish-blue);
  font-weight: var(--fw-700);
}

.user--img {
  grid-area: img;
  width: 2rem;
  margin-top: 1rem;
}

.user--btn {
  grid-area: btn;
  width: 6rem;
  height: 3rem;
  border: 0;
  border-radius: 0.5rem;
  place-self: center end;
  margin-top: 1rem;
  background-color: var(--clr-moderate-blue);
  color: var(--clr-white);
  font-weight: var(--fw-700);
}

@media (min-width: 45em) {
  .user {
    background-color: var(--clr-white);
    width: 94%;
    margin: 0 auto 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    max-width: 90rem;
  }

  .user--textarea {
    grid-area: text;
    resize: none;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-light-gray);
    padding: 1rem;
    width: 80%;
    height: 6rem;
  }

  .user--textarea::placeholder {
    color: var(--clr-light-grayish-blue);
    font-weight: var(--fw-700);
  }

  .user--img {
    grid-area: img;
    width: 2rem;
    margin: 0;
    
  }

  .user--btn {
    grid-area: btn;
    width: 6rem;
    height: 3rem;
    border: 0;
    border-radius: 0.5rem;
    place-self: start end;
    margin-top: 0rem;
    background-color: var(--clr-moderate-blue);
    color: var(--clr-white);
    font-weight: var(--fw-700);
  }
}

/* comments */

.comments {
  margin-top: 2rem;
}

.comment {
  background-color: var(--clr-white);
  width: 94%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1ft);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    'header header header header header'
    'body body body body body'
    'body body body body body'
    'body body body body body'
    'score score space space reply'
    ;
}

.comment-score {
  grid-area: score;
}

.comment-score--minus {

}

.comment-score--score {

}

.comment-score--plus {

}

.comment-header {
  grid-area: header;
}

.comment-header img {
  width: 2rem;
}

.comment-header--user {

}

.comment-header--reply {
  grid-area: reply;
}

.comment-body {

}